<footer class="bg-main-light py-4">
  <div class="container">
    <div class="caption">
      <h4>Get The FreshCart App</h4>
      <p class="text-secondary">We Will Send You a Link</p>
    </div>
    <div class="form-item d-flex gap-4">
      <input
        type="email"
        title="userEmail"
        class="form-control w-75"
        placeholder="Email"
      />
      <button class="main-btn flex-shrink-0">Get App Link</button>
    </div>
    <hr class="border-secondary" />
    <div class="copyrights">
      <h6 class="text-center text-muted small">
        © 2023 Eman Negm , All Rights Reserved.
      </h6>
    </div>
  </div>
</footer>
